name: Azure Infrastructure Inovy

permissions:
  id-token: write
  contents: read
  actions: read

defaults:
  run:
    shell: bash

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: string
        default: "prd"

jobs:
  azure-login:
    if: ${{ inputs.environment == 'prd' }}
    environment: prd
    runs-on: ubuntu-latest

    steps:
      - name: show azure variables
        run: |
          echo "AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}"
          echo "AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}"
          echo "AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}"

      - name: Azure Login
        uses: azure/login@v2
        with:
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true
